header {
    color: #E8FDFF;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    background: linear-gradient(270deg, #1a3b45, #2691b0);
    background-size: 400% 400%;
    -webkit-animation: GradientFade 30s ease infinite;
    -moz-animation: GradientFade 30s ease infinite;
    animation: GradientFade 30s ease infinite;
    z-index:999;
}

@-webkit-keyframes GradientFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes GradientFade {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientFade { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body {
    background-color:whitesmoke;
    padding-top:100px;
}

main {
    max-width: 450px;
    margin: 0 auto;
    margin-top:35px;
    width: 100%;
}
.login-info {
    margin-top: -10px;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.logoutLink {
    margin-left:10px;
}

.post {
    margin-bottom:48px;
    border-radius:5px;
    background-color:white;
    padding:15px;
    box-shadow: 0px 5px 25px #d2d2d2;
}
/*.post:nth-child(odd):hover {*/
/*    animation: rotateRight 1s linear;*/
/*    animation-fill-mode: forwards;*/
/*}*/
/*@keyframes rotateRight {*/
/*    0% {*/
/*        transform:rotate(0deg);*/
/*    }*/
/*    100% {*/
/*        transform:rotate(5deg);*/
/*    }*/
/*}*/

/*.post:nth-child(even):hover {*/
/*    animation: rotateLeft 1s linear;*/
/*    animation-fill-mode: forwards;*/
/*}*/
/*@keyframes rotateLeft {*/
/*    0% {*/
/*        transform:rotate(0deg);*/
/*    }*/
/*    100% {*/
/*        transform:rotate(-5deg);*/
/*    }*/
/*}*/

.post .user-info {
    align-items: center;
}

.post .user-info img {
    border-radius:50%;
}

.post .user-info img:hover {
    filter:grayscale(100%);
}

.post .user-info h2 {
    font-size: 18px;
}
.post .user-info h2:hover {
    color:red;
}

.post .user-info h3 {
    font-size: 15px;
}

a.photo {
    background-color:#fff;
    overflow:hidden;
    border-radius:15px;
}
a.photo img {
    border-radius:15px;
}
a.photo img:hover {
    animation: BlurPulse 4s linear infinite;
}

@keyframes BlurPulse{
    0% {
        filter: blur(0px);
    }
    50% {
        filter: blur(20px);
    }
    100% {
        filter: blur(0px);
    }
}

.post div .actions:hover {
    color:red;
}

.post ul li p {
    letter-spacing: 1px;
}

.post ul li strong:hover {
    color:red;
}

.user-like:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
}
.actions button.user-like {
  border:0px;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
    color:#244751;
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
    color:red;
  }
}
