<form method="POST" action="/posts">
    <h2 style="float:left;display:inline-block;">New Post</h2><button class="newPhoto button" type="submit"><i class="fa fa-plus-square-o" aria-hidden="true" style="margin-right:10px;"></i>Post</button>
    <ul class="errors flash animated" style="clear:both;margin-top:25px;">
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <div class="form-group" style="clear:both;margin-top:25px;">
        <div class="preview">
            <img src="" class="preview-image pulse animated infinite" alt="">
        </div>
        <label for="photo_url">Photo URL</label>
        <input id="images photo_url" class="form-control" type="text" name="photo_url" placeholder="http://image.com/image.jpg">
    </div>
</form>
<script>
    $('.form-control').on('change', function(){
        var inputVal = $(this).val();
        $('.preview-image').attr('src', inputVal).fadeIn();
        $('.newPhoto').addClass("postOk");
    })
</script>