<!doctype html>
    <head>
        <title>Finstagram</title>
        <link rel="stylesheet" href="/stylesheets/normalize.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300italic,700italic,700,300"/>
        <link rel="stylesheet" href="/stylesheets/lib.css"/>
        <link rel="stylesheet" href="/stylesheets/app.css"/>
        <link rel="stylesheet" href="/stylesheets/font-awesome.css"/>
        <link rel="stylesheet" href="/stylesheets/animate.min.css"/>
        <script rel="javascript" src="/javascript/jquery-3.2.1.min.js"></script>
        <script rel="javascript" src="/javascript/wow.js"></script>
    </head>
    <body>
        <header>
          <h1><a href="/">Finstagram</h1></a>
          <div class="login-info">
            <% if current_user %>
              <i class="fa fa-user-circle" aria-hidden="true"></i><span style="margin-right:10px"><%= current_user.username %></span> | <a href="/logout"><i class="fa fa-power-off" aria-hidden="true"></i>Logout</a>
            <% else %>
              <a href="/login"><i class="fa fa-user-circle" aria-hidden="true"></i>Login</a> | <a href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i>Signup</a>
            <% end %>
          </div>
        </header>
        <main role="main">
            <%= yield %>
        </main>
    </body>
    <script>
      new WOW().init();
    </script>
</html>